<div class="container">
  <div class="row">
    <h2>Statystyki</h2>
  </div>
  <div class="row my-2" >
    <div class="col-12">
      <h4>Raport spalania</h4>
      <dx-button
        class="button-info mb-2 px-3"
        text="Dodaj"
        (onClick)="addReport()"
      ></dx-button>
    </div>
  </div>
    <dx-popup
      [width]="400"
      [height]="320"
      [showTitle]="true"
      title="Dodaj nowy raport spalania"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [showCloseButton]="false"
      [(visible)]="popupVisible"
    >
      <div class="container">
        <div class="row">
          <div class="form-group col-12">
            <form
              [formGroup]="fuelReportForm"
              autocomplete="off"
              (ngSubmit)="onSubmit()"
            >
              <input
                [class.is-invalid]="
                  fuelReportForm.get('cost').errors &&
                  fuelReportForm.get('cost').touched
                "
                formControlName="cost"
                type="number"
                class="form-control my-2"
                placeholder="Koszt paliwa"
              />

              <input
                [class.is-invalid]="
                  fuelReportForm.get('fuelAmount').errors &&
                  fuelReportForm.get('fuelAmount').touched
                "
                formControlName="fuelAmount"
                type="number"
                class="form-control my-2"
                placeholder="Ilość zatankowanego paliwa [dm3]"
              />

              <input
                [class.is-invalid]="
                  fuelReportForm.get('traveledDistance').errors &&
                  fuelReportForm.get('traveledDistance').touched
                "
                formControlName="traveledDistance"
                type="number"
                class="form-control my-2"
                placeholder="Przejechany dystans"
              />

              <input
                [class.is-invalid]="
                  fuelReportForm.get('refuelDate').errors &&
                  fuelReportForm.get('refuelDate').touched
                "
                formControlName="refuelDate"
                type="date"
                class="form-control my-2"
                placeholder="Data tankowania"
              />
              <div class="row form-group">
                <button
                  class="btn btn-success mt-2"
                  [disabled]="!fuelReportForm.valid"
                  type="submit"
                >
                  Dodaj
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </dx-popup>
    <div class="row">
      <div class="col-12">
        <dx-data-grid
          id="fuelReport"
          [dataSource]="fuelReport"
          keyExpr="id"
          [remoteOperations]="false"
          [allowColumnResizing]="true"
        >
          <dxo-paging [pageSize]="5"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5, 10, 15]"
          ></dxo-pager>
          <dxi-column
            dataField="cost"
            dataType="number"
            caption="Koszt tankowania [PLN]"
          ></dxi-column>
          <dxi-column
            dataField="fuelAmount"
            dataType="number"
            caption="Ilość zatankowanego paliwa [dm3]"
          ></dxi-column>
          <dxi-column
            dataField="traveledDistance"
            dataType="number"
            caption="Przejechany dystans [km]"
          ></dxi-column>
          <dxi-column
            dataField="refuelDate"
            dataType="date"
            caption="Data zatankowania"
          ></dxi-column>
        </dx-data-grid>
      </div>
    </div>

  <div class="row my-4">
    <dx-chart id="chart" [dataSource]="fuelReportView">
      <dxi-series
        argumentField="month"
        valueField="averageConsumption"
        name="Średnie spalanie<br/>(na 100km)"
        type="bar"
        color="#ffaa66"
      >
        <dxo-label
          [visible]="true"
          [format]="{
            type: 'fixedPoint',
            precision: '2'
          }"
        >
        </dxo-label>
      </dxi-series>
    </dx-chart>
  </div>
</div>
