.details-btn {
    float: right;
}

.ngx-gallery { 
    display: inline-block; 
    margin-bottom: 20px; 
}

.fa-info-circle {
    vertical-align: middle;
}

 .form-select:disabled {
    background-color: rgb(190, 190, 190);
} 

/* .form-control {
    background-color: rgb(190, 190, 190);
} */