<div class="container">
  <div class="row">
    <h2>Lista użytkowników</h2>
  </div>
  <div class="row mt-2">
    <div *ngFor="let member of members" class="col-3 mb-2 align-items-stretch">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <pagination
      [boundaryLinks]="false"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
