<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-secondary">
  <div class="container">
    <a class="navbar-brand"><i class="icon fas fa-car-side fa-lg"></i></a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Przeglądaj</a>
        </li>
        <li class="nav-item" *ngIf="(accountService.currentUser$ | async) as user">
          <a class="nav-link" href='/members/{{user.username}}' routerLinkActive="active">Mój profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Wiadomości</a>
        </li>
      </ng-container>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active">Błędy</a>
      </li> -->
    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>{{user.username}} </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a routerLink='/member/edit' class="dropdown-item">Edytuj profil</a>
        <a class="dropdown-item" (click)="logout()">Wyloguj się</a>
      </div>
    </div>

    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Nazwa użytkownika"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="Hasło"
      />
      <button class="btn btn-dark" type="submit">
        <span class="loggingBtn">
          <i class="fas fa-arrow-right fa-1x"></i>
        </span>
      </button>
    </form>
  </div>
</nav>
